absl-py==0.9.0
altgraph==0.17
anaconda==0.0.1.1
aniso8601==8.0.0
appdirs==1.4.3
asgiref==3.2.7
astroid==2.5.7
astunparse==1.6.3
async-generator==1.10
attrs==19.3.0
Automat==20.2.0
backcall==0.1.0
beautifulsoup4==4.9.0
bleach==3.1.5
boto3==1.17.104
botocore==1.20.104
bs4==0.0.1
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
chart-studio==1.1.0
clang==11.0
click==7.1.2
colorama==0.4.3
colorlover==0.3.0
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
cufflinks==0.17.3
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.12
distlib==0.3.0
dj-database-url==0.5.0
Django==3.0.5
django-filter==2.4.0
django-heroku==0.3.1
django-storages==1.11.1
docutils==0.17.1
dukpy==0.2.3
entrypoints==0.3
fbs==0.8.6
feedfinder2==0.0.4
feedparser==6.0.2
ffpyplayer==4.3.2
filelock==3.0.12
Flask==1.1.2
Flask-RESTful==0.3.8
future==0.18.2
gast==0.3.3
gcloud==0.18.3
google==2.0.3
google-auth==1.17.2
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.53.0
graphviz==0.14
grpcio==1.29.0
gunicorn==20.1.0
h5py==2.10.0
html5lib==1.0.1
httplib2==0.19.1
hyperlink==19.0.0
idna==2.9
imageio==2.8.0
importlib-metadata==1.6.0
incremental==17.5.0
inflection==0.5.0
ipykernel==5.3.0
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
javascripthon==0.11
jedi==0.17.0
jieba3k==0.35.1
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.15.1
jovian==0.2.14
json5==0.9.4
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyter-server==0.1.1
jupyterlab==2.1.3
jupyterlab-pygments==0.1.1
jupyterlab-server==1.1.5
jwcrypto==1.0
Keras==2.4.0
Keras-Preprocessing==1.1.2
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.5.0
macholib==1.14
macropy3==1.1.0b2
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mglearn==0.1.9
mistune==0.8.4
more-itertools==8.4.0
nbconvert==5.6.1
nbformat==5.0.6
newspaper3k==0.2.8
nltk==3.5
notebook==6.0.3
numpy==1.18.4
oauth2client==4.1.3
oauthlib==3.1.0
opt-einsum==3.2.1
packaging==20.4
pandas==1.0.3
pandas-datareader==0.8.1
pandocfilters==1.4.2
parsel==1.6.0
parso==0.7.0
pefile==2019.4.18
pickleshare==0.7.5
Pillow==7.1.2
plotly==4.8.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
Protego==0.1.16
protobuf==3.12.2
psycopg2==2.8.5
py4j==0.10.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.10.1
PyDispatcher==2.0.5
pydot==1.4.1
pydotplus==2.0.2
pyfiglet==0.8.post1
Pygments==2.6.1
PyHamcrest==2.0.2
PyInstaller==3.4
pylint==2.8.2
pylint-django==2.4.4
pylint-plugin-utils==0.6
pyOpenSSL==19.1.0
pyparsing==2.4.7
pypiwin32==223
Pyrebase4==4.5.0
pyrsistent==0.16.0
PySide2==5.15.0
pyspark==3.0.0
python-dateutil==2.8.1
python-jwt==3.3.0
pytz==2019.3
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.1
qtconsole==4.7.4
QtPy==1.9.0
Quandl==3.5.0
queuelib==1.5.0
regex==2020.6.8
requests==2.23.0
requests-file==1.5.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rsa==4.6
s3transfer==0.4.2
scikit-learn==0.20.3
scipy==1.4.1
Scrapy==2.1.0
seaborn==0.10.1
Send2Trash==1.5.0
service-identity==18.1.0
sgmllib3k==1.0.0
shiboken2==5.15.0
six==1.14.0
sklearn==0.0
soupsieve==2.0
spark==0.2.1
SQLAlchemy==1.3.17
sqlparse==0.3.1
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.0.0
tinysegmenter==0.3
tldextract==3.1.0
toml==0.10.2
tornado==6.0.4
tqdm==4.46.1
traitlets==4.3.3
Twisted==20.3.0
typed-ast==1.4.0
typing-extensions==3.10.0.0
urllib3==1.25.9
uuid==1.30
virtualenv==20.0.18
voila==0.1.21
w3lib==1.21.0
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
widgetsnbextension==3.5.1
wrapt==1.11.2
xlrd==1.2.0
zipp==3.1.0
zope.interface==5.1.0
